@media screen and (min-width: 375px)
{
    .header-container
    {
        margin: 100px 10px 0px 10px;
    }
    .hero
    {
      padding-left: 5px;
      padding-right: 0px;
    }
    .header-containers
    {
        padding: 0 0px 0 0px;
    }
}
@media screen and (min-width: 425px)
{
    .repos{
        display: none;
    }
}
@media screen and (min-width: 768px)
{
   .straight-line
   {
       display: none;
   }
   .card .straight-line{
    display: none;
   }
}